@import models.Quiz
@import play.api.data.Form
@import play.filters.csrf.CSRF
@import play.filters.csrf.CSRF.Token

@(quiz: Quiz)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>校長かひろゆきか当てるクイズ</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>校長かひろゆきか当てるクイズ</h1>
        <br>
        <h2>（きこえますか...こどもごごろ感じるままに選ぶのです...）</h2>
        @helper.form(action = routes.HomeController.submit) {
            @helper.CSRF.formField
            @for(question <- quiz.questions) {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@question.title</h5>
                        @for((option, index) <- question.options.zipWithIndex) {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="@question.id" id="@question.id-@index" value="@index">
                                <label class="form-check-label" for="@question.id-@index">
                                    @option
                                </label>
                            </div>
                        }
                    </div>
                </div>
            }
            <button type="submit" class="btn btn-primary">回答する</button>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>